name: my_workflow

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout_repo
      uses: actions/checkout@v2

    - name: build_docker
      run: docker build -t my_docker_image .

    - name: run_train.py
      run: docker run -v ${{ github.workspace }}:/app my_docker_image python3 /app/train.py
      
    - name: list_files
      run: docker run my_docker_image ls -l /app

    - name: copy_model
      run: docker run --rm -v ${{ github.workspace }}:/app my_docker_image cp model.h5 /app/model.h5

  evaluate:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout_repo
      uses: actions/checkout@v2

    - name: build_docker
      run: docker build -t Dockerfile .

    - name: run_predict.py
      run: docker run my_docker_image python3 predict.py

  archive_model:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
    - name: archive_model
      uses: actions/upload-artifact@v2
      with:
        name: model
        path: ./model.h5
