name: my_workflow

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout_repo
      uses: actions/checkout@v2

    - name: build_docker
      run: docker build -t my_docker_image .

    - name: run_train.py
      run: docker run my_docker_image python train.py

    - name: copy_model
      run: docker cp my_docker_image model.h5 model.h5

  evaluate:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout_repo
      uses: actions/checkout@v2

    - name: build_docker
      run: docker build -t Dockerfile .

    - name: run_predict.py
      run: docker run my_docker_image python predict.py

  archive_model:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
    - name: archive_model
      uses: actions/upload-artifact@v2
      with:
        name: model
        path: ./model.h5
