name: my_workflow

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout_repo
      uses: actions/checkout@v2

    - name: run_train.py
      run: python train.py

  evaluate:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout_repo
      uses: actions/checkout@v2

    - name: run_predict.py
      run: python predict.py

  archive_model:
    needs: train
    runs-on: ubuntu-latest
    
    steps:
    - name: archive_model
      uses: actions/upload-artifact@v2
      with:
        name: model
        path: ./model.h5
